flows (3).json
[{"id":"c58d102f.2832e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a4e3aec.131155","type":"function","z":"c58d102f.2832e","name":"PreToken","func":"global.set(\"dt\",msg.payload.dt)\nglobal.set(\"lv\",msg.payload.lv)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"tp\",msg.payload.tp)\nvar apikey=\"baeOatSDwU7YdMPHoP8ov2c2E2gJMz9D0uiYUwPg-MX-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["6b47936.1596d6c"]]},{"id":"6b47936.1596d6c","type":"http request","z":"c58d102f.2832e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["e296d191.fb14d"]]},{"id":"2ccc6841.3f8f58","type":"debug","z":"c58d102f.2832e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":280,"wires":[]},{"id":"e296d191.fb14d","type":"function","z":"c58d102f.2832e","name":"Pre Prediction","func":"var dt = global.get('dt')\nvar lv = global.get('lv')\nvar ws = global.get('ws')\nvar tp = global.get('tp')\nvar token=msg.payload.access_token\nvar instance_id=\"2c4f5339-ff69-4b65-9ec8-c6129b9a74e5\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\", \"LV ActivePower (kW)\", \"Wind Speed (m/s)\", \"Theoretical_Power_Curve (KWh)\"],\"values\": [[dt,lv,ws,tp]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["22a14dda.d484e2"]]},{"id":"22a14dda.d484e2","type":"http request","z":"c58d102f.2832e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/d4a8e92d-44fe-491d-b94e-562109bb087a/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":340,"wires":[["1bd950d4.ab53bf","2ccc6841.3f8f58"]]},{"id":"1bd950d4.ab53bf","type":"function","z":"c58d102f.2832e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["2ccc6841.3f8f58","4aba3aa1.ecc4e4"]]},{"id":"3880c5f2.35f28a","type":"ui_form","z":"c58d102f.2832e","name":"","label":"","group":"98c9b3f6.7808e","order":0,"width":0,"height":0,"options":[{"label":"Date/Time","value":"dy","type":"text","required":false,"rows":null},{"label":"LV ActivePower (kW)","value":"lv","type":"number","required":false,"rows":null},{"label":"Wind Speed (m/s)","value":"ws","type":"number","required":false,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"tp","type":"number","required":false,"rows":null}],"formValue":{"dy":"","lv":"","ws":"","tp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":520,"wires":[["a4e3aec.131155"]]},{"id":"4aba3aa1.ecc4e4","type":"ui_text","z":"c58d102f.2832e","group":"98c9b3f6.7808e","order":1,"width":0,"height":0,"name":"","label":"Wind Direction","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":80,"wires":[]},{"id":"98c9b3f6.7808e","type":"ui_group","z":"","name":"Default","tab":"6f92e2f9.ccd80c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f92e2f9.ccd80c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]